body {
    background-color: #00081c;
}

h1, h2, h3, h4, h5 {
    cursor: default;
    font-family: sans-serif;
}

#header {
    text-align: center;
    margin-top: 10%;
    vertical-align: middle;
    color: white;
    font-size: 150%;
    
    display: none;
}

#language {
    margin: auto;
    width: 100%;
    
    display: none;
}

.language_options {
    padding: 1px;
    
    width: 30%;
    
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    
    text-align: center;
    color: white;
    
    background-color: #001638;
    
    transition: 0.5s;
}

.language_options:hover {
    background-color: #012357;
}

