<html>
<head>
    <title>Hi</title>
    
    <script src="jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    
</head>

<body>
    <div id="admin" th:if="${authenticated == true}">
        <p>Welcome Admin</p>
    </div>
    <div id="page1">
        <div id="header">
            <h1>Welcome</h1>
        </div>
        
        <div id="language">
            <div class="language_wrapper" th:each="s: ${surveys}">
                <div class="language_options"  th:id="${s[0]}"  th:attr="onclick=${s[2]}">
                    <h3 th:text="${s[1]}"></h3>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function survey_select(survey) {
            window.location.href = "/survey?survey=" + survey;
        }

        $(document).ready(function() {
            //Fade in the welcome text
            $("#header").fadeIn(3000);
            
            //After 500ms, load in the survey start options.
            setTimeout(function() {
                $("#language").fadeIn(3000);
            }, 500);
        });
    </script>
</body>
</html>