<html>
<head>
    <title>Create Survey</title>
</head>

<body>
    <table>
        <form action="/submit_changes" method="POST">
            Question: <input type="text" name="question"/>

            Answer 1: <input type="text" name="answer1"/>
            Answer 2: <input type="text" name="answer2"/>
            Answer 3: <input type="text" name="answer3"/>
            Answer 4: <input type="text" name="answer4"/>
            Answer 5: <input type="text" name="answer5"/>
            Answer 6: <input type="text" name="answer6"/>

            <input type="submit" value="Submit"/>
        </form>
    </table>
</body>
</html>