<html>
<head>
    <title>Hi</title>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    
</head>

<body>
    <div id="page1">
        <div id="header">
            <h1>Welcome / Bienvenue</h1>
        </div>
        
        <div id="language">
            <div class="language_options" id="english">
                <h3>Continue in English</h3>
            </div>
            
            <div class="language_options" id="french">
                <h3>Continuez a Francais</h3>
            </div>
        </div>
    </div>
    
    <script>
        //JQuery document.ready equivalent. Only run code when the page is loaded.
        $(document).ready(function() {
            //Fade in the welcome text
            $("#header").fadeIn(3000);
            
            //After 500ms, load in the survey start options.
            setTimeout(function() {
                $("#language").fadeIn(3000);
            }, 500);
            
            //Go to english survey
            $("#english").click(function() {
                window.location.href = "/english";
            });
            
            //Go to French survey
            $("#french").click(function() {
                 window.location.href = "/french";
            });
            
        });
    </script>
</body>
</html>